nav {
  background-color: #dddddd;
}

nav a {
  width: 8%;
  display: inline-block;
  margin: 4px 4px 3px 8px;
  padding: 10px 10px;
  border-radius: 4px;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

nav a:first-child {
  margin-left: 30px;
}

p {
  font-size: 20px;
}

.active {
  background: #fbfafa; /*light white color*/
}

nav a:hover {
  background: #607d8b52;
}
button {
  float: right;
  padding: 6px 10px;
  margin-top: 20px;
  margin-right: 16px;
  background-color: #555;
  color: white;
  font-size: 17px;
  border: none;
}
.news-logo {
  font-family: fontawesome;
  text-decoration: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 37px;
  letter-spacing: 3px;
  color: #555555;
  display: block;
  position: absolute;
  top: 17px;
  line-height: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  width: auto;
  margin: 0%;
  padding: 10px 10px;
  border-radius: 0px;
  text-align: left;
}
.dropdown-content a:first-child {
  margin-left: 0%;
}
.dropdown-content a:hover {
  background: #dddddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;

  margin: 0;
}

.drop {
  display: unset;
}

.left {
  float: left;
  width: 25%;
  display: block;
  margin-top: 52px;
}

.right {
  float: left;
  width: 60%;
  height: 40%;
  display: block;
  padding: 30px 10px 10px 60px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
aside h2 {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  color: #3e433e;
  letter-spacing: 0.1px;
  line-height: 24px;
  font-family: Titillium, arial, sans-serif;
}

.highlights-li {
  border-bottom: 1px solid #ccc;
  display: block;
  font-size: 15px;
  line-height: 22px;
  padding: 10px 10px 10px 20px;
  font-family: "Open Sans", HelveticaNeue, Helvetica, Arial, sans-serif;
}

.highlights-li:before {
  background: #da0000;
  content: "";
  display: block;
  margin: 8px 0 0 -20px;
  text-align: left;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  float: left;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style-type: square;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
b {
  font-size: 30px;
}
h3 {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 17px;
}
h1 {
  font-size: 32px;
}
